{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">О нас
      <small></small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Главная</a>
      </li>
      <li class="breadcrumb-item active">О нас</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'mainapp/about.jpg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>Немножко об осминожке</h2>
        <p>Мы, маленькая группка рабов-студентов, день за днём превращаем свои руки в щупальца, а мозг в кашицу</p>
        <p>Мы верим в то, что нас ждёт успех. Однако с таким успехом помрём мы быстрее....</p>
        <p>Мы все мечтаем об автомате по лоису.... Спасите наши бренные души......</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Наша команда</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'mainapp/vadzim.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Ильюкевич Вадим</h4>
            <h6 class="card-subtitle mb-2 text-muted">Якорь</h6>
            <p class="card-text">Упорный якорь нашей команды. Тащит куда угодно, но не наверх.</p>
          </div>
          <div class="card-footer">
            <a href="#">mr.vadikru@mail.ru</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'mainapp/dasha.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Волчёк Дарья</h4>
            <h6 class="card-subtitle mb-2 text-muted">Зверёк</h6>
            <p class="card-text">Талисман нашей команды, иногда может и рявнуть.....</p>
          </div>
          <div class="card-footer">
            <a href="#">volchek@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'mainapp/pig.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Свинка монетная</h4>
            <h6 class="card-subtitle mb-2 text-muted">Спонсор</h6>
            <p class="card-text">У нас с остальными членами команды, также как у этой свинки с монетками. Ищем, ищем, а их всё нет и нет....</p>
          </div>
          <div class="card-footer">
            <a href="#">fanatkarepa@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock content %}
